<div
class="panel panel-default">
<!-- <div class="panel-heading">{{ element.name }}</div> -->
<div class="panel-heading" #heading>{{ name }}</div>
<div class="panel-body">
    <ng-content ></ng-content>
</div>
</div>